@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

.mainbox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
    margin: 20px;
}
.mainbox div{
 height: 305px;
 font-style: italic;
    background-color: rgba(0, 0, 0, 0.397);
    
    
}
.mainbox div .cond{
    background:none;
}
.sidebox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 450px;
    box-sizing: border-box;
    padding: 20px;
}
.sidebox:hover{
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}
.title1{
    font-family: "Playwrite AR", cursive;
    margin-bottom: 0px;
    margin-top: 0px;
}
.desc{
    font-family: "Playwrite AR", cursive;
    text-align: center;
    opacity: 70%;
    margin: 0px;
    padding-top: 0px;
}
.sidebox h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    text-shadow: 2px 2px 20px rgb(173, 173, 173);
    background-color: rgba(0, 0, 0, 0.253);
    padding: 30px;
    flex: none;
}

.sidebox p {
    font-size: 20px;
    background: none;
    flex: 1;
}
.details{
    width: 100%;
    color: white;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25vh;
}
.details ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 13px;
    text-align: center;
    
   

    
}
button:hover{
    background-color: rgba(255, 0, 0, 0.544);
    transition: all 0.4s ease-in-out;
}
input:focus{
    background-color: aliceblue;
}
.details li{
    padding: 2px;
}

.details li:nth-child(odd)
{
    color: rgb(188, 188, 255);
    padding: 20px;
    
}
.details li:hover{
    background-color: rgba(0, 0, 0, 0.824);
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    cursor: pointer;
   
}

.sidebox .cond {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.cond p {
    font-size: 30px;
    opacity: 60%;

}

.cond .temper {
    font-size: 60px;
    opacity: 70%;
}

.plantinfo p {
    font-size: 30px;
    width: 100%;
    padding: 33px;
    text-align: start;
    opacity: 70%;
    text-shadow: 2px 2px 20px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.plantinfo p:hover {
    font-size: 31px;
    opacity: 80%;
    text-shadow: 2px 2px 30px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
